#----------------------------------------------------------------------#
# File:        .aliases                                                #
# Description: Aliases for Bash and Zsh.                               #
#              This file is read by Bash and Zsh:                      #
#              ~/.bash_aliases is symlinked to ~/src/dotfiles/.aliases #
#              ~/.zsh_aliases  is symlinked to ~/src/dotfiles/.aliases #
# Version:     0.1.0                                                   #
# Author:      Aldo Latino <aldolat@gmail.com>                         #
#----------------------------------------------------------------------#

#-----------------------------
# Filesystem
#-----------------------------
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -lh'
alias lla='ls -la'
alias la='ls -lah'
alias cds='cd ~/Scaricati'

#-----------------------------
# Sistema
#-----------------------------
alias ip='ip -color=auto'
alias vi='vim'
alias aggiorna_repo_germania='sudo reflector --verbose --country Germany --protocol https --age 6 --sort rate --latest 5 --save /etc/pacman.d/mirrorlist'
alias aggiorna_repo_italia='sudo reflector --verbose --country Italy --protocol https --age 6 --sort rate --latest 5 --save /etc/pacman.d/mirrorlist'

#-----------------------------
# Apache
#-----------------------------
# Gli alias `server_*` sono disabilitati perché uso il server Apache su macchina virtuale.
# alias server_start='sudo service apache2 start && sudo service mysql start && sudo service vsftpd start'
# alias server_stop='sudo service apache2 stop && sudo service mysql stop && sudo service vsftpd stop'
# alias server_restart='sudo service apache2 restart && sudo service mysql restart && sudo service vsftpd restart'
# alias server_status='sudo service apache2 status && sudo service mysql status && sudo service vsftpd status'
# alias server_cambia_permessi='sudo chown -R aldo /var/www/ && sudo chgrp -R www-data /var/www/ && sudo chmod u+rw,g+rw,o=r -R /var/www/*'
# alias server_cambia_permessi='sudo chown -R aldo:www-data /home/aldo/vhosts/ && sudo chmod u+rw,g+rw,o=r -R /home/aldo/vhosts/*'
# alias monta_vhosts='sudo mount -t nfs 192.168.0.50:/home/aldo/vhosts /home/aldo/vhosts/'
# alias smonta_vhosts='sudo umount /home/aldo/vhosts'

#-----------------------------
# Hugo
#-----------------------------
# Disabilitati perché ho uno script in ~/.local/bin.
# alias deploy='cd /home/aldo/sites/aldolat && hugo && rsync -avz --rsh="ssh -p10223" --delete --exclude-from ".rsync-exclude" public/ bkaldola@aldolat.it:/home/bkaldola/public_html/ && rm -rf public/'
# alias deploy_dryrun='cd /home/aldo/sites/aldolat && hugo && rsync -avz --rsh="ssh -p10223" --delete --exclude-from ".rsync-exclude" --dry-run public/ bkaldola@aldolat.it:/home/bkaldola/public_html/ && rm -rf public/'

#-----------------------------
# Rete
#-----------------------------
alias my_local_ip="ip addr show | awk '/inet / {print \$2}' | cut -d '/' -f 1"
alias my_public_ip='dig +short myip.opendns.com @resolver1.opendns.com'

#-----------------------------
# Git
#-----------------------------
alias gitstat='git status'
alias gitlog="git log --graph --pretty=format:'%Cred%h%Creset %C(bold green)%G?%Creset %C(bold blue)%an%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit"
alias gitlogsig="git log --graph --pretty=format:'%Cred%h%Creset %C(bold green)%G?%Creset %C(bold blue)%an%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --show-signature"
alias gitlogall='git log --all --oneline --decorate --graph'

#-----------------------------
# GnuPG
#-----------------------------
alias firma_interna='gpg --sign --armour '
alias firma_staccata='gpg --detach-sign --armour '
alias verifica='gpg --verify '

#-----------------------------
# Grafica
#-----------------------------
# alias scansiona='scanimage --resolution=300dpi --mode=Color --format=tiff --output-file scansione.tif --progress'

#-----------------------------
# Docker
#-----------------------------
alias docker-status='docker images && docker ps -a && docker volume list'

#-----------------------------
# LaTeX
#-----------------------------
alias latex-pulisci='latexmk -c'
alias latex-pulisci-tutto='latexmk -C'
alias latex-compila-pdflatex='latexmk -pdf'
alias latex-compila-xelatex='latexmk -xelatex'
